/* タイピングゲーム全体 */
body {
    font-size: 6em; 
    text-align: center;
  }

  /* ゲームの残り秒数が表示されるタイマーの領域 */
  .count {
    margin:0;
    font-weight:bold;
    color:#888;
  }

  /* テキストが表示される範囲 */
  .wrap {
    margin-top: 20px;
    padding: 80px 40px;
    background-color: #666;
    font-weight: bold;
    color: #fff;
  }

  /* 正しく表示された場合のテキスト */
  .typed {
    color: lightgreen;
  }

  /* ミスタイプの場合の背景 */
  .mistyped {
    background-color:red;
  }
/* 正解タイプ数 */
  .correct {
    margin:0;
    font-weight:bold;
    color:#888;
  }

/* ゲームオーバー表示 */
.over {
  margin:0;
  font-weight:bold;
  color:red;
}